# SPDX-License-Identifier: MIT
parameters:
    level: 8
    paths:
        - src
        - tests
        - examples
        - ../driver/adapters/php
    phpVersion:
        min: 80200
        max: 80599
